<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="PVSS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
    <userSettings>
        <PVSS.Properties.Settings>
            <setting name="BaudRate" serializeAs="String">
                <value>19200</value>
            </setting>
            <setting name="CompanyText" serializeAs="String">
                <value>ISPTEL, Lda</value>
            </setting>
            <setting name="JobNameText" serializeAs="String">
                <value>MV Vessel IWS</value>
            </setting>
            <setting name="DiverNameText" serializeAs="String">
                <value>Diver 1 Name</value>
            </setting>
            <setting name="IsHDCameraChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsSDCameraChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsInterpolatedChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Diver2NameText" serializeAs="String">
                <value>Diver 2 Name</value>
            </setting>
            <setting name="AutoLightOff" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="COMPort" serializeAs="String">
                <value>COM2</value>
            </setting>
        </PVSS.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="OxyPlot" publicKeyToken="638079a8f0bd61e9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="OxyPlot.Wpf" publicKeyToken="75e952ba404cdbb0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.3.0" newVersion="2.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xceed.Wpf.Toolkit" publicKeyToken="3e4669d2f30244f4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <!-- Prevent background-thread NullReferenceExceptions (e.g. DotSpatial.Positioning
         DetectionThreadProc) from crashing the process. The AppDomain.UnhandledException
         handler in App.xaml.cs logs/suppresses them. -->
    <legacyUnhandledExceptionPolicy enabled="1"/>
  </runtime>
</configuration>
